* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black
}

section{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.universalButton{
    height: 85px;
    width: 85px;
    font-size: 50px;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    transition: 0.2s ease-in-out;
}

.universalButton:hover{
    height: 90px;
    width: 90px;
    opacity: 0.70;
}

.universalButton:active{
        height: 95px;
    width: 95px;
}

#stone{
    background-color: #a64a59;
}

#paper{
    background-color: #2962A3;
}

h1{
    font-size: 75px;
    letter-spacing: 0.2px;
    text-shadow: -10px 10px 10px red;
}

p{
    font-size: 25px;
    letter-spacing: 0.2px;
}

#user{
    color: red;
}

#machine{
    color: blue;
}